@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300..700&family=Playfair+Display:wght@400..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $black;
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 0.5rem;
}

p,
button,
div,
a.btn {
  font-family: "Manrope", sans-serif;
  font-weight: 450;
  font-size: 1rem;
}
